body{
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
	font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}

section#wrapper {
    background: #f6f8fa;
}
.title{
	font-size: 28px;
}
.contentText {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}


/*============================================================ 
						header section
============================================================== */
.logo {
    width: 150px;
    height: 130px;
}
h1.title {
    color: #ac2f58;
    font-family: "Aladin",cursive;
    font-size: 1.9em;
    font-weight: bold;
    text-shadow: 1px 0 0 rgba(171, 38, 83, 0.8);
	line-height: 1em;
	margin-top: 1.5em;
}
/* .socail-logo ul {
	
} */
.socail-logo ul li {
    float: left;
    list-style: none;
    margin-left: 10%;
    margin-top: 5%;
}


.social-icon {
	padding: 10px;
	color: white;
  }
.fa.fa-youtube.social-icon {
    background: red none repeat scroll 0 0;
}
.fa.fa-facebook.social-icon {
    background: #007bb5 none repeat scroll 0 0;
    border-radius: 1px;
}
.fa.fa-twitter.social-icon {
    background: #1d9ceb none repeat scroll 0 0;
}
.fa.fa-linkedin.social-icon {
    background: #007bb5 none repeat scroll 0 0;
}

.slogan{
	font-style: italic;
}

/* ======= navigation===== */
nav {
	background: rgba(0,153,203,.9) !important;
}
.headerBottom nav ul li a {
    font-size: .9em;
    color: white !important;
    font-weight: bold;
    padding: 15px 10px;
    border: 1px solid rgba(205, 202, 189,.25);
}

.headerBottom ul li{
  position: relative;
}
 
ul.dropDown {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 10;
  width: 200px;
  background: rgba(24,162,208,.95);
  display: none;

}
.headerBottom ul li .dropDown li.list-group-item {
  background: none !important;
  border-top: 0px !important;
  padding: .5em;
}
.headerBottom ul li ul.dropDown .list-group-item a {
  border: none;
  text-decoration: none;
}
.headerBottom ul li .dropDown .list-group-item a{}

.headerBottom ul li:hover ul.dropDown{
  display: block;
  z-index: 20;
}


/* ============ Registration=========== */


  .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs {
  margin-top: 5%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 40%;
  /* float: right; */
  margin: 0 auto;
  padding: .4em 0px;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 100px;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active {
  width: 110px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.register-form .form-control {
  border-radius: 1rem;
  font-size: .9em;
  padding-left: 1.1em;
}
ul#myTab li.nav-item {
  margin-top: 0px;
}

/* ================ sign in================ */

/*------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.txt2 {
  
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
}

.txt3 {
  
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}


.wrap-login100 {
  width: 560px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-size: 1.4rem;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}


/*---------------------------------------------*/
.input100 {
  
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 25px 0 25px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid rgba(24,162,208,1);
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 12px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}

.btn-show-pass:hover {
  color: rgba(24,162,208,1);
}

.btn-show-pass.active {
  color: rgba(24,162,208,1);
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: rgba(24,162,208,1);
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  min-width: 140px;
  height: 45px;
  background-color: rgba(24,162,208,1);
  border-radius: 27px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: rgb(23, 131, 167);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .btn-show-pass {
  visibility: hidden;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ============= sign in end=============== */

  
/*============================================================ 
						slider section
============================================================== */
#slider{
    height: 440px;;
}
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.carousel-item{
	height: 440px;
}

@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

/* ====================================
                Main Content
======================================= */
#welcome{
    margin-top: 1rem;
}
.headmasterInfo .card {
    width: 340px;
    height: 350px;
}
.headmasterInfo .card .card-header, .facebookInfo .card .card-header  {
    height: 50px;
    width: 100%;
}
.headmasterInfo .card .card-header h6{
    line-height: 40px;
}
.headmasterInfo .card .card-body {
    height: 80px;
    width: 100%;
}

/* ====== notice board==== */
.noticeBoard {
    padding-right: .2em;
}
.noticeBoard .card{
    padding: 1.5rem;
}

/* =========== facebook ======= */
.facebookInfo .card{
  width: 340px;
  height: 310px;
}
.facebookInfo .card .card-body {
  height: 80px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ========= visitors=========== */
.visitorInfo .card{
  width: 340px;
  height: 332px;
}
.visitorInfo li.list-group-item {
  font-size: 14px;
}
.visitorInfo .card-header{

}
.visitorInfo .card-body{

}

/* ======== Alumni Association========= */
#alumniAssociation .card {
    height: 440px;
    box-shadow: 1px 3px 4px 0 rgba(35, 134, 200,.1);
}
#alumniAssociation .card .card-body {
    height: 150px;
}


.imgContent{
    height: 244px;
}
.imgContent img{
    height: 230px;
}
.name {
    font-size: 18px;
    margin-bottom: 4px;
}
.designation {
    font-size: 13px;
    margin-bottom: 0px;

}
.assocDesignation {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    color: #C82333;
}
p.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: rgba(24,162,208,1);
}


/* ====================================================
                        Footer
========================================================*/

/* ======= important liink==== */
.importantLinks, .ourLocation, .contactUs {
  height: 215px;
  background: white;
  padding: 15px 20px;
}
.importantLinks ul {
  margin: 10px;
}
.importantLinks ul li,.contactUs ul li{
  font-size: 14px;
  padding: 5px 20px;
  /* margin: 10px; */
}

.footer_bottom {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid;
}


